<div class="element-card gap-1">
    <div class="element-cover-container">
    <%if game.cover.attached? %>
    <%= link_to image_tag(game.cover, alt: "element-image", class: "element-image"), game %> 
    <% else %>
      <%= image_tag("game-default.jpg", alt: "element-image", class: "element-image") %> 
    <% end %>
    </div>

  <div class="flex flex-column space-between font-primary">
    <div class="flex space-between">
      <div>
        <div class= "content-lg regular"><%= link_to game.name, game %></div>
        <div class="flex gap-0-25">
          <% if game.release_date %>
            <p class= "content-xs"><%= game.release_date.year %></p>
          <% end %>
          <div class= "x-small">· <%= (policy_scope(Critic) & game.received_critics).size %> Critics</div>
        </div>
      </div>
      <div>
        <div class="button button--rating "><%= game.rating %></div>
      </div>
    </div>

    <p class= "element-description"><%= game.summary %></p>

    <div class="flex">
      <div class="element-icons">
        <% if policy(Game).update? %>
          <%= link_to "Edit", edit_game_path(game), class: 'button button--sm button--primary display-initial'%>
        <% end %>
        <% if policy(Game).destroy? %>
          <%= link_to "Delete", game, data: { turbo_method: :delete }, class: 'button button--sm button--primary display-initial' %>
        <% end %>
      </div>
    </div>
  </div>


</div>